body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    background: #ECECEC;
    color: #111;
  }
  h2 {
    font-size: 40px;
    text-transform: uppercase;
  }
  
  h4 {
    font-weight: 700;
  }
  
  .navbar-brand img {
    width: 180px;
    height: auto;
  }
  
  
  .navbar-toggle img {
    width: 25px;
  }
  .navbar-nav>li {
    margin-left: 2em;
    margin-top: 1em;
}
  .navbar-nav>li>a {
    text-decoration: none;
    padding: 10px 22px;
    background: rgb(255, 255, 255);
    color: black;
    border-radius: 50px;
    box-shadow: 0px 0px 10px rgba(21, 21, 21, 0.1);
    text-transform: uppercase;
    font-size: 12px;
}
.navbar-brand {
    font-weight: 700;
    color: #3A3A3A;
    font-size: 2.5em;
    margin-top: 3px;
}
.navbar-brand span {
    color: #9B9B9B;
}
.navbar-brand:hover,
.navbar-brand:hover span {
    color: #000;
}
  
  .ill-hero1 {
    background: url(../img/ill-hero1.png) no-repeat bottom left transparent;
    height: 300px;
    background-size: 90%;
  }
  
  .ill-hero2 {
    background: url(../img/ill-hero2.png) no-repeat bottom left transparent;
    height: 300px;
    background-size: 90%;
  }
  
  .ill-hero3 {
    background: url(../img/ill-hero3.png) no-repeat bottom left transparent;
    height: 300px;
    background-size: 90%;
  }
  .list-unstyled {
    color: #666;
  }
  
  #hero h2 {
    bottom: 40px;
    position: absolute;
    color: #fff;
    left: 40px;
    font-size: 1.6em;
  }
  
  .carousel {
    margin: 40px 0 0;
  }
  .carousel p {
    margin-right: 18%;
  }
  
  .carousel-indicators li {
    background-color: rgba(225, 225,225, 0.2);
    border: none;
  }
  
  .carousel-indicators .active {
    background-color: rgba(225, 225,225, 0.4);
  }
  
  @media only screen and (max-width: 992px) {
    .ill-hero1 {
      height: 400px;
    }
  }

  @media only screen and (max-width: 768px) {
    #hero h2 {
        position: absolute;
        left: 0;
        width: 100%;
        text-align: center;
    }
    .servBox {
        margin-bottom: 30px;
    }
  }
  
  @media only screen and (max-width: 540px) {
    .ill-hero1 {
      background-size: 100%;
      height: 320px;
    }
    #hero h2 {
        font-size: 2em;
    }
  }
  
  #services {
    padding: 80px 0 0;
  }
  
  #contact {
    padding: 80px 0;
  }
  
  .profiles img {
    border-radius: 50%;
    width: 40%;
    border: 4px solid #fff;
    box-shadow: 0px 0px 10px rgba(21, 21, 21, 0.1);
  }
  .profiles p {
      color: #666;
  }
  .servBox {
    background: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(21, 21, 21, 0.1);
    padding-bottom: 1em;
  }
  .servBox .ico {
    width: auto;
    height: 48px;
  }
  .ico {
    margin: 40px 0 20px 0;
  }
  
  /* =========================== PORTFOLIO =========================== */
  #portfolio {
    padding: 80px 0;
  }
  #portfolio .col-sm-4 {
    
  }
  #portfolio img.img-fluid {
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
      margin-bottom: 30px;
      box-shadow: 0px 0px 10px rgba(21, 21, 21, 0.1);
  }
  /* =========================== GENERAL =========================== */
  .img-fluid {
    width: 100%;
    height: auto;
  }
  
  .padding-top {
    padding-top: 60px;
  }
  .marB2 {
    margin-bottom: 2em;
}
  .marB4 {
      margin-bottom: 4em;
  }
  
    /* =========================== FOOTER =========================== */
  footer {
    background-color: rgb(84, 84, 84);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #ffffff;
    margin-top: 40px;
    height: 80px;
    line-height: 100px;
  }
  
  
  .videoCont {
    text-align: center;
    margin-top: 30px;
  }
  .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; height: auto; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
